@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

button {
  border: 2px solid black;
  padding: 0px 15px;
  border-radius: 10px;
}
button:hover {
  background-color: #e38e8e;
  transform: scale(1.05);
  transition: transform 0.15s ease-in-out;
}
button:active {
  background-color: #9c8ee3;
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}
button:disabled {
  background-color: #f00b0b;
  color: azure;
}
